<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="classpath" name="Classpath" schema="schema/classpath.exsd"/>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/jython"
            factory-class="org.knime.ext.jython.PythonScript11NodeFactory"/>
      <node
            category-path="/labs/jython"
            factory-class="org.knime.ext.jython.PythonScript21NodeFactory"/>
      <node
            category-path="/labs/jython"
            factory-class="org.knime.ext.jython.PythonFunctionNodeFactory"/>
   </extension>
   
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/category_basic.gif"
            level-id="jython"
            name="Jython"
            path="/labs"/>
   </extension>
</plugin>
