<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.python2.serializationlibrary">
      <serializationlibrary
            id="org.knime.serialization.flatbuffers.column"
            java-serializationlibrary-factory="org.knime.flatbuffers.FlatbuffersColumnSerializationFactory"
            python-serializationlibrary="py/Flatbuffers.py">
      </serializationlibrary>
   </extension>

</plugin>
