<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.python2.typeextension.knimetopython" name="Python type extension (KNIME to Python)" schema="schema/typeextension.knimetopython.exsd"/>
   <extension-point id="org.knime.python2.typeextension.pythontoknime" name="Python type extension (Python to KNIME)" schema="schema/typeextension.pythontoknime.exsd"/>
   <extension-point id="org.knime.python2.sourcecodetemplates" name="Source code templates extension" schema="schema/sourcecodetemplates.exsd"/>
   <extension-point id="org.knime.python2.modules" name="Python modules extension" schema="schema/modules.exsd"/>
   <extension-point id="org.knime.python2.serializationlibrary" name="Python serialization library" schema="schema/serializationlibrary.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.python2.PythonPreferencePage"
            id="org.knime.python2.PythonPreferencePage"
            name="Python">
      </page>
   </extension>
   <extension
         point="org.knime.python2.typeextension.pythontoknime">
      <type
            id="org.knime.datetime2"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.datetime2.DateTime2DeserializerFactory"
            python-serializer="src/org/knime/python2/typeextension/builtin/datetime2/DateTimeSerializer.py"
            python-type-identifier="datetime">
      </type>
      <type
            id="org.knime.localdate"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.localdate.LocalDateDeserializerFactory"
            python-serializer="src/org/knime/python2/typeextension/builtin/localdate/LocalDateSerializer.py"
            python-type-identifier="date">
      </type>
   </extension>
   <extension
         point="org.knime.python2.typeextension.knimetopython">
      <type
            id="org.knime.datetime"
            java-serializer-factory="org.knime.python2.typeextension.builtin.datetime.DateTimeSerializerFactory"
            python-deserializer="src/org/knime/python2/typeextension/builtin/datetime/DateTimeDeserializer.py">
      </type>
      <type
            id="org.knime.datetime2"
            java-serializer-factory="org.knime.python2.typeextension.builtin.datetime2.DateTime2SerializerFactory"
            python-deserializer="src/org/knime/python2/typeextension/builtin/datetime/DateTimeDeserializer.py">
      </type>
      <type
            id="org.knime.python2.localdate"
            java-serializer-factory="org.knime.python2.typeextension.builtin.localdate.LocalDateSerializerFactory"
            python-deserializer="src/org/knime/python2/typeextension/builtin/localdate/LocalDateDeserializer.py">
      </type>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#1eb9dc"
            name="Python"
            objectClass="org.knime.python2.port.PickledObjectPortObject"
            objectSerializer="org.knime.python2.port.PickledObjectPortObject$Serializer"
            specClass="org.knime.python2.port.PickledObjectPortObjectSpec"
            specSerializer="org.knime.python2.port.PickledObjectPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.python2.PythonPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
