<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.python2.sourcecodetemplates" name="Source code templates extension" schema="schema/sourcecodetemplates.exsd"/>
   <extension-point id="org.knime.python2.serializationlibrary" name="Python serialization library" schema="schema/serializationlibrary.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.python2.PythonPreferencePage"
            id="org.knime.python2.PythonPreferencePage"
            name="Python (Labs)">
      </page>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#1eb9dc"
            name="Python"
            objectClass="org.knime.python2.port.PickledObjectPortObject"
            objectSerializer="org.knime.python2.port.PickledObjectPortObject$Serializer"
            specClass="org.knime.python2.port.PickledObjectPortObjectSpec"
            specSerializer="org.knime.python2.port.PickledObjectPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.python2.PythonPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
