<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
        point="org.knime.workbench.repository.categories">
        <category
            icon="icons/translator.png"
            level-id="translators"
            name="Translators"
            path="/chemistry" />
    </extension>
    <extension
        point="org.eclipse.ui.preferencePages">
        <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.chem.preferences.ChemTypesPreferencePage"
            id="org.knime.chem.preferences"
            name="Chemistry" />
    </extension>
    <extension
        point="org.knime.core.DataValueRenderer">
        <dataValue
            valueClass="org.knime.chem.types.cdx.CDXMLValue">
            <renderer
                rendererFactoryClass="org.knime.chem.types.cdx.CDXMLValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.CMLValue">
            <renderer
                rendererFactoryClass="org.knime.chem.types.CMLValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.helm.HELMValue">
            <renderer
                rendererFactoryClass="org.knime.chem.types.helm.HELMValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.CtabValue">
            <renderer
                rendererFactoryClass="org.knime.chem.types.CtabValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.Mol2Value">
            <renderer
                rendererFactoryClass="org.knime.chem.types.Mol2ValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.MolValue">
            <renderer
                rendererFactoryClass="org.knime.chem.types.MolValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.RxnValue">
            <renderer
                rendererFactoryClass="org.knime.chem.types.RxnValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.SdfValue">
            <renderer
                rendererFactoryClass="org.knime.chem.types.SdfValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.SlnValue">
            <renderer
                rendererFactoryClass="org.knime.core.data.renderer.DefaultDataValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.SmartsValue">
            <renderer
                rendererFactoryClass="org.knime.core.data.renderer.DefaultDataValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.SmilesValue">
            <renderer
                rendererFactoryClass="org.knime.core.data.renderer.StringValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
        <dataValue
            valueClass="org.knime.chem.types.InchiValue">
            <renderer
                rendererFactoryClass="org.knime.core.data.renderer.DefaultDataValueRenderer$Factory"
                suggestAsDefault="false">
            </renderer>
        </dataValue>
    </extension>
    <extension
        point="org.knime.core.DataType">
        <DataType
            cellClass="org.knime.chem.types.SmilesCell"
            factoryClass="org.knime.chem.types.SmilesCellFactory">
            <serializer
                cellClass="org.knime.chem.types.SmilesCell"
                serializerClass="org.knime.chem.types.SmilesCell$SmilesSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.SmilesAdapterCell"
                serializerClass="org.knime.chem.types.SmilesAdapterCell$SmilesAdapterCellSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.SmilesCell"
                valueFactoryClass="org.knime.chem.types.SmilesCellValueFactory">
            </ValueFactory>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.SmilesAdapterCell"
                valueFactoryClass="org.knime.chem.types.SmilesAdapterCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.cdx.CDXMLCell"
            factoryClass="org.knime.chem.types.cdx.CDXMLCellFactory">
            <serializer
                cellClass="org.knime.chem.types.cdx.CDXMLCell"
                serializerClass="org.knime.chem.types.cdx.CDXMLCell$CDXMLSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.cdx.CDXMLBlobCell"
                serializerClass="org.knime.chem.types.cdx.CDXMLBlobCell$CDXMLBlobSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.cdx.CDXMLCell"
                valueFactoryClass="org.knime.chem.types.cdx.CDXMLCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.CMLCell"
            factoryClass="org.knime.chem.types.CMLCellFactory">
            <serializer
                cellClass="org.knime.chem.types.CMLCell"
                serializerClass="org.knime.chem.types.CMLCell$CMLSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.CMLBlobCell"
                serializerClass="org.knime.chem.types.CMLBlobCell$CMLBlobSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.CMLAdapterCell"
                serializerClass="org.knime.chem.types.CMLAdapterCell$CMLAdapterCellSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.CMLCell"
                valueFactoryClass="org.knime.chem.types.CMLCellValueFactory">
            </ValueFactory>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.CMLAdapterCell"
                valueFactoryClass="org.knime.chem.types.CMLAdapterCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.helm.HELMCell"
            factoryClass="org.knime.chem.types.helm.HELMCellFactory">
            <serializer
                cellClass="org.knime.chem.types.helm.HELMCell"
                serializerClass="org.knime.chem.types.helm.HELMCell$HELMSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.helm.HELMAdapterCell"
                serializerClass="org.knime.chem.types.helm.HELMAdapterCell$HELMAdapterCellSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.helm.HELMCell"
                valueFactoryClass="org.knime.chem.types.helm.HELMCellValueFactory">
            </ValueFactory>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.helm.HELMAdapterCell"
                valueFactoryClass="org.knime.chem.types.helm.HELMAdapterCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.CtabCell"
            factoryClass="org.knime.chem.types.CtabCellFactory">
            <serializer
                cellClass="org.knime.chem.types.CtabCell"
                serializerClass="org.knime.chem.types.CtabCell$CtabSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.CtabBlobCell"
                serializerClass="org.knime.chem.types.CtabBlobCell$CtabBlobSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.CtabCell"
                valueFactoryClass="org.knime.chem.types.CtabCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.InchiCell"
            factoryClass="org.knime.chem.types.InchiCellFactory">
            <serializer
                cellClass="org.knime.chem.types.InchiCell"
                serializerClass="org.knime.chem.types.InchiCell$InchiCellSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.InchiAdapterCell"
                serializerClass="org.knime.chem.types.InchiAdapterCell$InchiAdapterCellSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.InchiCell"
                valueFactoryClass="org.knime.chem.types.InchiCellValueFactory">
            </ValueFactory>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.InchiAdapterCell"
                valueFactoryClass="org.knime.chem.types.InchiAdapterCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.Mol2Cell"
            factoryClass="org.knime.chem.types.Mol2CellFactory">
            <serializer
                cellClass="org.knime.chem.types.Mol2Cell"
                serializerClass="org.knime.chem.types.Mol2Cell$Mol2Serializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.Mol2BlobCell"
                serializerClass="org.knime.chem.types.Mol2BlobCell$Mol2BlobSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.Mol2AdapterCell"
                serializerClass="org.knime.chem.types.Mol2AdapterCell$Mol2AdapterCellSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.Mol2Cell"
                valueFactoryClass="org.knime.chem.types.Mol2CellValueFactory">
            </ValueFactory>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.Mol2AdapterCell"
                valueFactoryClass="org.knime.chem.types.Mol2AdapterCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.MolCell"
            factoryClass="org.knime.chem.types.MolCellFactory">
            <serializer
                cellClass="org.knime.chem.types.MolCell"
                serializerClass="org.knime.chem.types.MolCell$MolSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.MolBlobCell"
                serializerClass="org.knime.chem.types.MolBlobCell$MolBlobSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.MolAdapterCell"
                serializerClass="org.knime.chem.types.MolAdapterCell$MolAdapterCellSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.MolCell"
                valueFactoryClass="org.knime.chem.types.MolCellValueFactory">
            </ValueFactory>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.MolAdapterCell"
                valueFactoryClass="org.knime.chem.types.MolAdapterCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.SdfCell"
            factoryClass="org.knime.chem.types.SdfCellFactory">
            <serializer
                cellClass="org.knime.chem.types.SdfCell"
                serializerClass="org.knime.chem.types.SdfCell$SdfSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.SdfBlobCell"
                serializerClass="org.knime.chem.types.SdfBlobCell$SdfBlobSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.SdfAdapterCell"
                serializerClass="org.knime.chem.types.SdfAdapterCell$SdfAdapterCellSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.SdfCell"
                valueFactoryClass="org.knime.chem.types.SdfCellValueFactory">
            </ValueFactory>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.SdfAdapterCell"
                valueFactoryClass="org.knime.chem.types.SdfAdapterCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.RxnCell"
            factoryClass="org.knime.chem.types.RxnCellFactory">
            <serializer
                cellClass="org.knime.chem.types.RxnCell"
                serializerClass="org.knime.chem.types.RxnCell$RxnSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.RxnBlobCell"
                serializerClass="org.knime.chem.types.RxnBlobCell$RxnBlobSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.RxnAdapterCell"
                serializerClass="org.knime.chem.types.RxnAdapterCell$RxnAdapterCellSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.RxnCell"
                valueFactoryClass="org.knime.chem.types.RxnCellValueFactory">
            </ValueFactory>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.RxnAdapterCell"
                valueFactoryClass="org.knime.chem.types.RxnAdapterCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.SlnCell">
            <serializer
                cellClass="org.knime.chem.types.SlnCell"
                serializerClass="org.knime.chem.types.SlnCell$SlnSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                valueFactoryClass="org.knime.chem.types.SlnCellValueFactory">
            </ValueFactory>
        </DataType>
        <DataType
            cellClass="org.knime.chem.types.SmartsCell"
            factoryClass="org.knime.chem.types.SmartsCellFactory">
            <serializer
                cellClass="org.knime.chem.types.SmartsCell"
                serializerClass="org.knime.chem.types.SmartsCell$SmartsSerializer">
            </serializer>
            <serializer
                cellClass="org.knime.chem.types.SmartsAdapterCell"
                serializerClass="org.knime.chem.types.SmartsAdapterCell$SmartsAdapterCellSerializer">
            </serializer>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.SmartsCell"
                valueFactoryClass="org.knime.chem.types.SmartsCellValueFactory">
            </ValueFactory>
            <ValueFactory
                deprecated="false"
                cellClass="org.knime.chem.types.SmartsAdapterCell"
                valueFactoryClass="org.knime.chem.types.SmartsAdapterCellValueFactory">
            </ValueFactory>
        </DataType>
    </extension>
    <extension
        point="org.knime.python3.types.PythonValueFactory">
        <Module
            modulePath="" moduleName="knime.types.chemistry">
            <PythonValueFactory
                PythonClassName="CDXMLValueFactory"
                ValueFactory="org.knime.chem.types.cdx.CDXMLCellValueFactory"
                ValueTypeName="knime.types.chemistry.CDXMLValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="CMLValueFactory"
                ValueFactory="org.knime.chem.types.CMLCellValueFactory"
                ValueTypeName="knime.types.chemistry.CMLValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="CMLAdapterValueFactory"
                ValueFactory="org.knime.chem.types.CMLAdapterCellValueFactory"
                ValueTypeName="knime.types.chemistry.CMLAdapterValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="CtabValueFactory"
                ValueFactory="org.knime.chem.types.CtabCellValueFactory"
                ValueTypeName="knime.types.chemistry.CtabValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="HELMValueFactory"
                ValueFactory="org.knime.chem.types.helm.HELMCellValueFactory"
                ValueTypeName="knime.types.chemistry.HELMValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="HELMAdapterValueFactory"
                ValueFactory="org.knime.chem.types.helm.HELMAdapterCellValueFactory"
                ValueTypeName="knime.types.chemistry.HELMAdapterValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="InchiValueFactory"
                ValueFactory="org.knime.chem.types.InchiCellValueFactory"
                ValueTypeName="knime.types.chemistry.InchiValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="InchiAdapterValueFactory"
                ValueFactory="org.knime.chem.types.InchiAdapterCellValueFactory"
                ValueTypeName="knime.types.chemistry.InchiAdapterValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="MolValueFactory"
                ValueFactory="org.knime.chem.types.MolCellValueFactory"
                ValueTypeName="knime.types.chemistry.MolValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="MolAdapterValueFactory"
                ValueFactory="org.knime.chem.types.MolAdapterCellValueFactory"
                ValueTypeName="knime.types.chemistry.MolAdapterValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="Mol2ValueFactory"
                ValueFactory="org.knime.chem.types.Mol2CellValueFactory"
                ValueTypeName="knime.types.chemistry.Mol2Value">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="Mol2AdapterValueFactory"
                ValueFactory="org.knime.chem.types.Mol2AdapterCellValueFactory"
                ValueTypeName="knime.types.chemistry.Mol2AdapterValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="RxnValueFactory"
                ValueFactory="org.knime.chem.types.RxnCellValueFactory"
                ValueTypeName="knime.types.chemistry.RxnValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="RxnAdapterValueFactory"
                ValueFactory="org.knime.chem.types.RxnAdapterCellValueFactory"
                ValueTypeName="knime.types.chemistry.RxnAdapterValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="SdfValueFactory"
                ValueFactory="org.knime.chem.types.SdfCellValueFactory"
                ValueTypeName="knime.types.chemistry.SdfValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="SdfAdapterValueFactory"
                ValueFactory="org.knime.chem.types.SdfAdapterCellValueFactory"
                ValueTypeName="knime.types.chemistry.SdfAdapterValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="SlnValueFactory"
                ValueFactory="org.knime.chem.types.SlnCellValueFactory"
                ValueTypeName="knime.types.chemistry.SlnValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="SmartsValueFactory"
                ValueFactory="org.knime.chem.types.SmartsCellValueFactory"
                ValueTypeName="knime.types.chemistry.SmartsValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="SmartsAdapterValueFactory"
                ValueFactory="org.knime.chem.types.SmartsAdapterCellValueFactory"
                ValueTypeName="knime.types.chemistry.SmartsAdapterValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="SmilesValueFactory"
                ValueFactory="org.knime.chem.types.SmilesCellValueFactory"
                ValueTypeName="knime.types.chemistry.SmilesValue">
            </PythonValueFactory>
            <PythonValueFactory
                PythonClassName="SmilesAdapterValueFactory"
                ValueFactory="org.knime.chem.types.SmilesAdapterCellValueFactory"
                ValueTypeName="knime.types.chemistry.SmilesAdapterValue">
            </PythonValueFactory>
        </Module>
    </extension>
</plugin>