[submodule "org.knime.python3.js.scripting/js-src/python-scripting-editor/webapps-common"]
	path = org.knime.python3.js.scripting/js-src/python-scripting-editor/webapps-common
	url = ../webapps-common
	branch = vue3
[submodule "org.knime.python3.js.scripting/js-src/python-scripting-editor/knime-scripting-editor"]
	path = org.knime.python3.js.scripting/js-src/python-scripting-editor/knime-scripting-editor
	url = ../knime-scripting-editor
	branch = enh/AP-19528-update-the-the-scripting-editor
