*/bin/
**/target/
*/build/
*.pyc
*.pydevproject
**/.flattened-pom.xml
*/log
*/*.jar
**/CHANGELOG.md

# Sphinx documentation
**/_build/

# Coverage.py
.coverage
**/htmlcov/
**/.idea
**/.vscode

# new build output
*/.polyglot.*
**/.polyglot.build.properties
