<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.python3.types.PythonValueFactory">
      <Module
            modulePath="src/main/python" moduleName="knime.types.builtin">
         <PythonValueFactory
               PythonClassName="FSLocationValueFactory"
               ValueFactory="org.knime.filehandling.core.data.location.FSLocationValueFactory"
               ValueTypeName="knime.types.builtin.FSLocationValue">
         </PythonValueFactory>

         <PythonValueFactory
               PythonClassName="LocalDateTimeValueFactory"
               ValueFactory="org.knime.core.data.v2.time.LocalDateTimeValueFactory"
               ValueTypeName="datetime.datetime">
         </PythonValueFactory>
         <!-- Careful: The order matters when using the same ValueTypeName multiple times,
           the second overwrites the first. We have two PythonValFacs mapping on the same type, as we cannot separate
           datetimes with a timezones from datetimes without one. Thus, we map all datetimes on the ZonedDateTime for
           Python -> KNIME. But for KNIME -> Python we still need the LocalDateTimeMapper. -->
         <PythonValueFactory
               PythonClassName="ZonedDateTimeValueFactory2"
               ValueFactory="org.knime.core.data.v2.time.ZonedDateTimeValueFactory2"
               ValueTypeName="datetime.datetime">
         </PythonValueFactory>

         <PythonValueFactory
               PythonClassName="ZonedDateTimeValueFactory2"
               ValueFactory="org.knime.core.data.v2.time.ZonedDateTimeValueFactory2"
               ValueTypeName="pandas._libs.tslibs.timestamps.Timestamp"
               isDefaultPythonRepresentation="false">
         </PythonValueFactory>

         <PythonValueFactory
               PythonClassName="DurationValueFactory"
               ValueFactory="org.knime.core.data.v2.time.DurationValueFactory"
               ValueTypeName="datetime.timedelta">
         </PythonValueFactory>

         <PythonValueFactory
               PythonClassName="DurationValueFactory"
               ValueFactory="org.knime.core.data.v2.time.DurationValueFactory"
               ValueTypeName="pandas._libs.tslibs.timedeltas.Timedelta"
               isDefaultPythonRepresentation="false">
         </PythonValueFactory>

         <PythonValueFactory
               PythonClassName="LocalTimeValueFactory"
               ValueFactory="org.knime.core.data.v2.time.LocalTimeValueFactory"
               ValueTypeName="datetime.time">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="LocalDateValueFactory"
               ValueFactory="org.knime.core.data.v2.time.LocalDateValueFactory"
               ValueTypeName="datetime.date">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="BooleanSetValueFactory"
               ValueFactory="org.knime.core.data.v2.value.BooleanSetValueFactory"
               ValueTypeName="knime.types.builtin.BooleanSetValue">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="DenseBitVectorValueFactory"
               ValueFactory="org.knime.core.data.v2.value.DenseBitVectorValueFactory"
               ValueTypeName="knime.types.builtin.DenseBitVectorValue">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="DenseByteVectorValueFactory"
               ValueFactory="org.knime.core.data.v2.value.DenseByteVectorValueFactory"
               ValueTypeName="knime.types.builtin.DenseByteVectorValue">
         </PythonValueFactory>
         <FromPandasColumnConverter
               PythonClassName="FromDTPandasColumnConverter"
               ValueTypeName="pandas._libs.tslibs.timestamps.Timestamp">
         </FromPandasColumnConverter>
         <FromPandasColumnConverter
               PythonClassName="FromDTPandasColumnConverter"
               ValueTypeName="pandas.core.dtypes.dtypes.DatetimeTZDtype">
         </FromPandasColumnConverter>
         <PythonValueFactory
               PythonClassName="XmlValueFactory"
               ValueFactory="org.knime.core.data.xml.XMLValueFactory"
               ValueTypeName="xml.etree.ElementTree.ElementTree">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="PNGImageValueFactory"
               ValueFactory="org.knime.core.data.image.png.PNGImageValueFactory"
               ValueTypeName="PIL.Image.Image">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="PNGImageValueFactory"
               ValueFactory="org.knime.core.data.image.png.PNGImageValueFactory"
               ValueTypeName="PIL.PngImagePlugin.PngImageFile"
               isDefaultPythonRepresentation="false">
         </PythonValueFactory>
      </Module>
      <Module
            modulePath="src/main/python" moduleName="knime.types.tool">
      		<PythonValueFactory
               PythonClassName="WorkflowToolValueFactory"
               ValueFactory="org.knime.core.node.tool.WorkflowToolValueFactory"
               ValueTypeName="knime.types.tool.WorkflowTool"
               isDefaultPythonRepresentation="true">
            </PythonValueFactory>
      </Module>
   </extension>

</plugin>
