<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.python3.PythonValueFactory">
      <Module
            modulePath="src/main/python/extension_types.py">
         <PythonValueFactory
               PythonClassName="FsLocationValueFactory"
               ValueFactory="org.knime.filehandling.core.data.location.FSLocationValueFactory">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="ZonedDateTimeValueFactory2"
               ValueFactory="org.knime.core.data.v2.time.ZonedDateTimeValueFactory2">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="DurationValueFactory"
               ValueFactory="org.knime.core.data.v2.time.DurationValueFactory">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="LocalDateTimeValueFactory"
               ValueFactory="org.knime.core.data.v2.time.LocalDateTimeValueFactory">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="LocalTimeValueFactory"
               ValueFactory="org.knime.core.data.v2.time.LocalTimeValueFactory">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="LocalDateValueFactory"
               ValueFactory="org.knime.core.data.v2.time.LocalDateValueFactory">
         </PythonValueFactory>
      </Module>
   </extension>

</plugin>
