<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="PythonExtension" name="Python Extension" schema="schema/PythonExtension.exsd"/>
   <extension
         point="org.knime.workbench.repository.nodesets">
      <nodeset
            deprecated="false"
            factory-class="org.knime.python3.nodes.PurePythonNodeSetFactory">
      </nodeset>
   </extension>
   <extension
         point="org.knime.workbench.repository.categorysets">
      <categoryset
            factory-class="org.knime.python3.nodes.PurePythonNodeSetFactory">
      </categoryset>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="Python Binary"
            objectClass="org.knime.python3.nodes.ports.PythonBinaryBlobFileStorePortObject"
            objectSerializer="org.knime.python3.nodes.ports.PythonBinaryBlobFileStorePortObject$Serializer"
            specClass="org.knime.python3.nodes.ports.PythonBinaryBlobPortObjectSpec"
            specSerializer="org.knime.python3.nodes.ports.PythonBinaryBlobPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#CC6699"
            hidden="false"
            name="Python Connection"
            objectClass="org.knime.python3.nodes.ports.PythonTransientConnectionPortObject"
            objectSerializer="org.knime.python3.nodes.ports.PythonTransientConnectionPortObject$Serializer"
            specClass="org.knime.python3.nodes.ports.PythonTransientConnectionPortObjectSpec"
            specSerializer="org.knime.python3.nodes.ports.PythonTransientConnectionPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.python3.nodes.preferences.PythonExtensionsPreferencePage"
            id="org.knime.python3.nodes.preferences"
            name="Python-based Extensions">
      </page>
   </extension>
   <extension
         point="org.knime.python3.types.PythonPortObjectConverter">
      <Module
            moduleName="_port_impl"
            modulePath="src/main/python/">
          <KnimeToPythonPortObjectConverter
                JavaConverterClass="org.knime.python3.nodes.ports.converters.credentials.CredentialPythonConverter"
                PythonConverterClass="CredentialConverter">
          </KnimeToPythonPortObjectConverter>
          <PythonToKnimePortObjectConverter
                JavaConverterClass="org.knime.python3.nodes.ports.converters.credentials.CredentialPythonConverter"
                PythonConverterClass="CredentialConverter">
          </PythonToKnimePortObjectConverter>
          <KnimeToPythonPortObjectConverter
                JavaConverterClass="org.knime.python3.nodes.ports.converters.credentials.HubCredentialPythonConverter"
                PythonConverterClass="HubAuthenticationConverter">
          </KnimeToPythonPortObjectConverter>
      </Module>
   </extension>
</plugin>
