<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="PythonExtension" name="Python Extension" schema="schema/PythonExtension.exsd"/>
   <extension
         point="org.knime.workbench.repository.nodesets">
      <nodeset
            deprecated="false"
            factory-class="org.knime.python3.nodes.PurePythonNodeSetFactory">
      </nodeset>
   </extension>
   <extension
         point="org.knime.workbench.repository.categorysets">
      <categoryset
            factory-class="org.knime.python3.nodes.PurePythonNodeSetFactory">
      </categoryset>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="Python Binary"
            objectClass="org.knime.python3.nodes.ports.PythonBinaryBlobFileStorePortObject"
            objectSerializer="org.knime.python3.nodes.ports.PythonBinaryBlobFileStorePortObject$Serializer"
            specClass="org.knime.python3.nodes.ports.PythonBinaryBlobPortObjectSpec"
            specSerializer="org.knime.python3.nodes.ports.PythonBinaryBlobPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#CC6699"
            hidden="false"
            name="Python Connection"
            objectClass="org.knime.python3.nodes.ports.PythonTransientConnectionPortObject"
            objectSerializer="org.knime.python3.nodes.ports.PythonTransientConnectionPortObject$Serializer"
            specClass="org.knime.python3.nodes.ports.PythonTransientConnectionPortObjectSpec"
            specSerializer="org.knime.python3.nodes.ports.PythonTransientConnectionPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.python3.nodes.preferences.PythonExtensionsPreferencePage"
            id="org.knime.python3.nodes.preferences"
            name="Python-based Extensions">
      </page>
   </extension>
   <extension
         point="org.knime.python3.types.PythonExtensionType">
      <PythonPortType
            JavaPortObjectClass="org.knime.core.node.BufferedDataTable"
            KnimeToPythonPortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$TablePortObjectConverter"
            KnimeToPythonPortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$TablePortObjectSpecConverter"
            PythonToKnimePortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$TablePortObjectConverter"
            PythonToKnimePortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$TablePortObjectSpecConverter">
      </PythonPortType>
      <PythonPortType
            JavaPortObjectClass="org.knime.python3.nodes.ports.PythonBinaryBlobFileStorePortObject"
            KnimeToPythonPortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$PythonBinaryPortObjectConverter"
            KnimeToPythonPortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$PythonBinaryPortObjectSpecConverter"
            PythonToKnimePortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$PythonBinaryPortObjectConverter"
            PythonToKnimePortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$PythonBinaryPortObjectSpecConverter">
      </PythonPortType>
      <PythonPortType
            JavaPortObjectClass="org.knime.python3.nodes.ports.PythonTransientConnectionPortObject"
            KnimeToPythonPortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$PythonConnectionPortObjectConverter"
            KnimeToPythonPortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$PythonConnectionPortObjectSpecConverter"
            PythonToKnimePortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$PythonConnectionPortObjectConverter"
            PythonToKnimePortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$PythonConnectionPortObjectSpecConverter">
      </PythonPortType>
      <PythonPortType
            JavaPortObjectClass="org.knime.core.node.port.image.ImagePortObject"
            PythonToKnimePortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$ImagePortObjectConverter"
            PythonToKnimePortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$PythonImagePortObjectSpecConverter">
      </PythonPortType>
      <PythonPortType
            JavaPortObjectClass="org.knime.credentials.base.CredentialPortObject"
            KnimeToPythonPortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$PythonCredentialPortObjectConverter"
            KnimeToPythonPortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$PythonCredentialPortObjectSpecConverter"
            PythonToKnimePortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$PythonCredentialPortObjectConverter"
            PythonToKnimePortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$PythonCredentialPortObjectSpecConverter">
      </PythonPortType>
      <PythonPortType
            JavaPortObjectClass="org.knime.core.node.workflow.capture.WorkflowPortObject"
            KnimeToPythonPortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$PythonWorkflowPortObjectConverter"
            KnimeToPythonPortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$PythonWorkflowPortObjectSpecConverter">
      </PythonPortType>
      <PythonPortType
            JavaPortObjectClass="org.knime.workflowservices.connection.AbstractHubAuthenticationPortObject"
            KnimeToPythonPortObjectConverter="org.knime.python3.nodes.ports.converters.PortObjectConverters$PythonHubAuthenticationPortObjectConverter"
            KnimeToPythonPortObjectSpecConverter="org.knime.python3.nodes.ports.converters.PortObjectSpecConverters$PythonHubAuthenticationPortObjectSpecConverter">
      </PythonPortType>
   </extension>
</plugin>
