<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.knime.workbench.repository.categories">
        <category
            description="Python scripting nodes"
            icon="icons/python.png"
            level-id="python"
            name="Python"
            path="/scripting" />
    </extension>
    <extension point="org.knime.workbench.repository.nodes">
        <node
            category-path="/scripting/python"
            factory-class="org.knime.python3.scripting.nodes.script.PythonScriptNodeFactory" />
        <node
            category-path="/scripting/python"
            factory-class="org.knime.python3.scripting.nodes.view.PythonViewNodeFactory" />
        <node
            category-path="/scripting/python"
            factory-class="org.knime.python3.scripting.nodes2.script.PythonScriptNodeFactory" />
    </extension>
    <extension
          point="org.knime.python2.sourcecodetemplates">
       <directory
             path="templates/">
       </directory>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="org.knime.workbench.ui.preferences"
             class="org.knime.python3.scripting.nodes.prefs.Python3ScriptingPreferencePage"
             id="org.knime.python3.scripting.nodes.prefs.PythonPreferencePage"
             name="Python">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.knime.python3.scripting.nodes.prefs.Python3ScriptingPreferencesInitializer">
       </initializer>
    </extension>
    <extension point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping NodeFactory="org.knime.python3.scripting.nodes.script.PythonScriptNodeFactory">
            <FileExtension extension=".pkl"/>
        </FileExtensionMapping>
    </extension>
</plugin>
