<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.knime.workbench.repository.categories">
        <category
            description="Python scripting nodes (Labs)"
            icon="icons/python.png"
            level-id="python"
            name="Python (Labs)"
            path="/labs" />
    </extension>
    <extension point="org.knime.workbench.repository.nodes">
        <node
            category-path="/labs/python"
            factory-class="org.knime.python3.scripting.nodes.script.PythonScriptNodeFactory" />
    </extension>
    <extension
          point="org.knime.python2.sourcecodetemplates">
       <directory
             path="templates/">
       </directory>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="org.knime.workbench.ui.preferences"
             class="org.knime.python3.scripting.nodes.prefs.Python3ScriptingPreferencePage"
             id="org.knime.python3.scripting.nodes.prefs.PythonPreferencePage"
             name="Python (Labs)">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.knime.python3.scripting.nodes.prefs.Python3ScriptingPreferencesInitializer">
       </initializer>
    </extension>
</plugin>
