<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.variables.Python2VariablesNodeFactory" />
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.source.Python2SourceNodeFactory" after="org.knime.python2.nodes.variables.Python2VariablesNodeFactory"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.script2.Python2ScriptNodeFactory2" after="org.knime.python2.nodes.source.Python2SourceNodeFactory"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.view.Python2ViewNodeFactory" after="org.knime.python2.nodes.script2.Python2ScriptNodeFactory2"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.objectreader2.Python2ObjectReaderNodeFactory2" after="org.knime.python2.nodes.view.Python2ViewNodeFactory"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.objectwriter2.Python2ObjectWriterNodeFactory2" after="org.knime.python2.nodes.objectreader2.Python2ObjectReaderNodeFactory2"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.learner2.Python2LearnerNodeFactory2" after="org.knime.python2.nodes.objectwriter2.Python2ObjectWriterNodeFactory2"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.predictor2.Python2PredictorNodeFactory2" after="org.knime.python2.nodes.learner2.Python2LearnerNodeFactory2"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.db.Python2ScriptDBNodeFactory" after="org.knime.python2.nodes.predictor2.Python2PredictorNodeFactory2"/>
        <node category-path="/scripting/python/conda" factory-class="org.knime.python2.nodes.conda.CondaEnvironmentPropagationNodeFactory"/>

        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.script.Python2ScriptNodeFactory" deprecated="true"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.script1in2out.Python2Script1In2OutNodeFactory" deprecated="true"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.script2in1out.Python2Script2In1OutNodeFactory" deprecated="true"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.script2in2out.Python2Script2In2OutNodeFactory" deprecated="true"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.objectreader.Python2ObjectReaderNodeFactory" deprecated="true"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.objectwriter.Python2ObjectWriterNodeFactory" deprecated="true"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.learner.Python2LearnerNodeFactory" deprecated="true"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.predictor.Python2PredictorNodeFactory" deprecated="true"/>
    </extension>
    <extension point="org.knime.workbench.repository.categories">
        <category description="Python nodes" icon="icons/python.png" level-id="python" name="Python" path="/scripting" />
        <category description="Nodes to interface with the Conda tool." icon="icons/condacategory.png" level-id="conda" name="Conda" path="/scripting/python"/>
    </extension>
    <extension point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping NodeFactory="org.knime.python2.nodes.objectreader.Python2ObjectReaderNodeFactory">
            <FileExtension extension=".pkl"/>
        </FileExtensionMapping>
    </extension>
    <extension point="org.knime.python2.sourcecodetemplates">
        <directory path="templates/"/>
    </extension>
</plugin>
