<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   	<extension point="org.knime.workbench.repository.nodes">
   		<node category-path="/scripting/python" factory-class="org.knime.python2.nodes.variables.Python2VariablesNodeFactory" />
   		<node category-path="/scripting/python" factory-class="org.knime.python2.nodes.source.Python2SourceNodeFactory" after="org.knime.python2.nodes.variables.Python2VariablesNodeFactory"/>
   		<node category-path="/scripting/python" factory-class="org.knime.python2.nodes.script.Python2ScriptNodeFactory" after="org.knime.python2.nodes.source.Python2SourceNodeFactory"/>
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.script1in2out.Python2Script1In2OutNodeFactory" after="org.knime.python2.nodes.script.Python2ScriptNodeFactory"/>         
   		<node category-path="/scripting/python" factory-class="org.knime.python2.nodes.script2in1out.Python2Script2In1OutNodeFactory" after="org.knime.python2.nodes.script1in2out.Python2Script1In2OutNodeFactory"/>  		
        <node category-path="/scripting/python" factory-class="org.knime.python2.nodes.script2in2out.Python2Script2In2OutNodeFactory" after="org.knime.python2.nodes.script2in1out.Python2Script2In1OutNodeFactory"/>
   		<node category-path="/scripting/python" factory-class="org.knime.python2.nodes.view.Python2ViewNodeFactory" after="org.knime.python2.nodes.script2in2out.Python2Script2In2OutNodeFactory"/>
   		<node category-path="/scripting/python" factory-class="org.knime.python2.nodes.objectreader.Python2ObjectReaderNodeFactory" after="org.knime.python2.nodes.view.Python2ViewNodeFactory"/>
   		<node category-path="/scripting/python" factory-class="org.knime.python2.nodes.objectwriter.Python2ObjectWriterNodeFactory" after="org.knime.python2.nodes.objectreader.Python2ObjectReaderNodeFactory"/>
   		<node category-path="/scripting/python" factory-class="org.knime.python2.nodes.learner.Python2LearnerNodeFactory" after="org.knime.python2.nodes.objectwriter.Python2ObjectWriterNodeFactory"/>
   		<node category-path="/scripting/python" factory-class="org.knime.python2.nodes.predictor.Python2PredictorNodeFactory" after="org.knime.python2.nodes.learner.Python2LearnerNodeFactory"/>
     <node
           after="org.knime.python2.nodes.predictor.Python2PredictorNodeFactory"
           category-path="/scripting/python"
           deprecated="false"
           factory-class="org.knime.python2.nodes.db.Python2ScriptDBNodeFactory">
     </node>
	</extension>
	<extension point="org.knime.workbench.repository.categories">
      	<category description="Python nodes" icon="icons/python.png" level-id="python" name="Python" path="/scripting" />
   	</extension>
     <extension
           point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping
              NodeFactory="org.knime.python2.nodes.objectreader.Python2ObjectReaderNodeFactory">
           <FileExtension
                 extension=".pkl">
           </FileExtension>
        </FileExtensionMapping>
     </extension>
     <extension
           point="org.knime.python2.sourcecodetemplates">
        <directory
              path="templates/">
        </directory>
     </extension>
</plugin>
