<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   	<extension point="org.knime.workbench.repository.nodes">
   		<node
           category-path="/scripting"
           deprecated="true"
           factory-class="org.knime.python.nodes.variables.PythonVariablesNodeFactory"/>
   		<node
           after="org.knime.python.nodes.variables.PythonVariablesNodeFactory"
           category-path="/scripting"
           deprecated="true"
           factory-class="org.knime.python.nodes.source.PythonSourceNodeFactory"/>
   		<node
           after="org.knime.python.nodes.source.PythonSourceNodeFactory"
           category-path="/scripting"
           deprecated="true"
           factory-class="org.knime.python.nodes.script.PythonScriptNodeFactory"/>
        <node
              after="org.knime.python.nodes.script.PythonScriptNodeFactory"
              category-path="/scripting"
              deprecated="true"
              factory-class="org.knime.python.nodes.script1in2out.PythonScript1In2OutNodeFactory"/>         
   		<node
           after="org.knime.python.nodes.script1in2out.PythonScript1In2OutNodeFactory"
           category-path="/scripting"
           deprecated="true"
           factory-class="org.knime.python.nodes.script2in1out.PythonScript2In1OutNodeFactory"/>  		
        <node
              after="org.knime.python.nodes.script2in1out.PythonScript2In1OutNodeFactory"
              category-path="/scripting"
              deprecated="true"
              factory-class="org.knime.python.nodes.script2in2out.PythonScript2In2OutNodeFactory"/>
   		<node
           after="org.knime.python.nodes.script2in2out.PythonScript2In2OutNodeFactory"
           category-path="/scripting"
           deprecated="true"
           factory-class="org.knime.python.nodes.view.PythonViewNodeFactory"/>
   		<node
           after="org.knime.python.nodes.view.PythonViewNodeFactory"
           category-path="/scripting"
           deprecated="true"
           factory-class="org.knime.python.nodes.objectreader.PythonObjectReaderNodeFactory"/>
   		<node
           after="org.knime.python.nodes.objectreader.PythonObjectReaderNodeFactory"
           category-path="/scripting"
           deprecated="true"
           factory-class="org.knime.python.nodes.objectwriter.PythonObjectWriterNodeFactory"/>
   		<node
           after="org.knime.python.nodes.objectwriter.PythonObjectWriterNodeFactory"
           category-path="/scripting"
           deprecated="true"
           factory-class="org.knime.python.nodes.learner.PythonLearnerNodeFactory"/>
   		<node
           after="org.knime.python.nodes.learner.PythonLearnerNodeFactory"
           category-path="/scripting"
           deprecated="true"
           factory-class="org.knime.python.nodes.predictor.PythonPredictorNodeFactory"/>
        <node
              category-path="/scripting"
              deprecated="true"
              factory-class="org.knime.python.nodes.db.PythonScriptDBNodeFactory"/>
	</extension>
     <extension
           point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping
              NodeFactory="org.knime.python.nodes.objectreader.PythonObjectReaderNodeFactory">
           <FileExtension
                 extension=".pkl">
           </FileExtension>
        </FileExtensionMapping>
     </extension>
     <extension
           point="org.knime.python.sourcecodetemplates">
        <directory
              path="templates/">
        </directory>
     </extension>
</plugin>
