<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   	<extension point="org.knime.workbench.repository.nodes">
   		<node category-path="/preview/python" factory-class="org.knime.python.nodes.script.PythonScriptNodeFactory" id="org.knime.python.nodes.script.PythonScriptNodeFactory"/>
   		<node category-path="/preview/python" factory-class="org.knime.python.nodes.view.PythonViewNodeFactory" id="org.knime.python.nodes.view.PythonViewNodeFactory"/>
	</extension>
	<extension point="org.knime.workbench.repository.categories">
      	<category description="Python nodes" icon="icons/python.png" level-id="python" name="Python" path="/preview" />
   	</extension>
</plugin>
