<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.python.typeextension.knimetopython" name="Python type extension (KNIME to Python)" schema="schema/typeextension.knimetopython.exsd"/>
   <extension-point id="org.knime.python.typeextension.pythontoknime" name="Python type extension (Python to KNIME)" schema="schema/typeextension.pythontoknime.exsd"/>
   <extension-point id="org.knime.python2.typeextension.pythontoknime" name="Python type extension (Python to KNIME)" schema="schema/typeextension.pythontoknime.exsd"/>
   <extension-point id="org.knime.python2.typeextension.knimetopython" name="Python type extension (KNIME to Python)" schema="schema/typeextension.knimetopython.exsd"/>
   <extension
         point="org.knime.python.typeextension.pythontoknime">
      <type
            id="org.knime.xml"
            java-deserializer-factory="org.knime.python.typeextension.builtin.xml.XMLDeserializerFactory"
            python-serializer="py/org/knime/python/typeextension/builtin/xml/XMLSerializer.py"
            python-type-identifier="xml.dom.minidom.Document">
      </type>
      <type
            id="org.knime.image"
            java-deserializer-factory="org.knime.python.typeextension.builtin.image.ImageDeserializerFactory"
            python-serializer="py/org/knime/python/typeextension/builtin/image/ImageSerializer.py"
            python-type-identifier="PIL.PngImagePlugin.PngImageFile">
      </type>
   </extension>
   <extension
         point="org.knime.python.typeextension.knimetopython">
      <type
            id="org.knime.xml"
            java-serializer-factory="org.knime.python.typeextension.builtin.xml.XMLSerializerFactory"
            python-deserializer="py/org/knime/python/typeextension/builtin/xml/XMLDeserializer.py">
      </type>
      <type
            id="org.knime.svg"
            java-serializer-factory="org.knime.python.typeextension.builtin.svg.SVGSerializerFactory"
            python-deserializer="py/org/knime/python/typeextension/builtin/svg/SVGDeserializer.py">
      </type>
      <type
            id="org.knime.image"
            java-serializer-factory="org.knime.python.typeextension.builtin.image.ImageSerializerFactory"
            python-deserializer="py/org/knime/python/typeextension/builtin/image/ImageDeserializer.py">
      </type>
   </extension>
   <extension
         point="org.knime.python2.typeextension.pythontoknime">
      <type
            id="org.knime.datetime2"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.datetime2.DateTime2DeserializerFactory"
            python-serializer="py/org/knime/python2/typeextension/builtin/datetime2/DateTimeSerializer.py"
            python-type-identifier="datetime">
      </type>
      <type
            id="org.knime.localdate"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.localdate.LocalDateDeserializerFactory"
            python-serializer="py/org/knime/python2/typeextension/builtin/localdate/LocalDateSerializer.py"
            python-type-identifier="date">
      </type>
      <type
            id="org.knime.python2.localtime"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.localtime.LocalTimeDeserializerFactory"
            python-serializer="py/org/knime/python2/typeextension/builtin/localtime/LocalTimeSerializer.py"
            python-type-identifier="time">
      </type>
      <type
            id="org.knime.python2.zoneddatetime"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.datetime2.DateTime2DeserializerFactory"
            python-serializer="py/org/knime/python2/typeextension/builtin/datetime2/DateTimeSerializer.py"
            python-type-identifier="org.knime.python2.zoneddatetime">
      </type>
      <type
            id="org.knime.python2.image"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.image.PngDeserializerFactory"
            python-serializer="py/org/knime/python2/typeextension/builtin/image/PngSerializer.py"
            python-type-identifier="PIL.PngImagePlugin.PngImageFile">
      </type>
      <type
            id="org.knime.python2.duration"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.duration.DurationDeserializerFactory"
            python-serializer="py/org/knime/python2/typeextension/builtin/duration/DurationSerializer.py"
            python-type-identifier="timedelta">
      </type>
      <type
            id="org.knime.python2.xml"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.xml.XMLDeserializerFactory"
            python-serializer="py/org/knime/python2/typeextension/builtin/xml/XMLSerializer.py"
            python-type-identifier="xml.dom.minidom.Document">
      </type>
      <type
            id="org.knime.python2.svg"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.xml.XMLDeserializerFactory"
            python-serializer="py/org/knime/python2/typeextension/builtin/xml/XMLSerializer.py"
            python-type-identifier="xml.dom.minidom.Document">
      </type>
      <type
            id="org.knime.python2.pandasTimestamp"
            java-deserializer-factory="org.knime.python2.typeextension.builtin.datetime2.DateTime2DeserializerFactory"
            python-serializer="py/org/knime/python2/typeextension/builtin/datetime2/DateTimeSerializer.py"
            python-type-identifier="pandas._libs.tslib.Timestamp">
      </type>
   </extension>
   <extension
         point="org.knime.python2.typeextension.knimetopython">
      <type
            id="org.knime.datetime"
            java-serializer-factory="org.knime.python2.typeextension.builtin.datetime.DateTimeSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/datetime/DateTimeDeserializer.py">
      </type>
      <type
            id="org.knime.datetime2"
            java-serializer-factory="org.knime.python2.typeextension.builtin.datetime2.LocalDateTimeSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/datetime/DateTimeDeserializer.py">
      </type>
      <type
            id="org.knime.python2.localdate"
            java-serializer-factory="org.knime.python2.typeextension.builtin.localdate.LocalDateSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/localdate/LocalDateDeserializer.py">
      </type>
      <type
            id="org.knime.python2.localtime"
            java-serializer-factory="org.knime.python2.typeextension.builtin.localtime.LocalTimeSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/localtime/LocalTimeDeserializer.py">
      </type>
      <type
            id="org.knime.python2.zoneddatetime"
            java-serializer-factory="org.knime.python2.typeextension.builtin.datetime2.ZonedDateTimeSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/datetime/DateTimeDeserializer.py">
      </type>
      <type
            id="org.knime.python2.image"
            java-serializer-factory="org.knime.python2.typeextension.builtin.image.PngSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/image/PngDeserializer.py">
      </type>
      <type
            id="org.knime.python2.duration"
            java-serializer-factory="org.knime.python2.typeextension.builtin.duration.DurationSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/duration/DurationDeserializer.py">
      </type>
      <type
            id="org.knime.python2.xml"
            java-serializer-factory="org.knime.python2.typeextension.builtin.xml.XMLSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/xml/XMLDeserializer.py">
      </type>
      <type
            id="org.knime.python2.svg"
            java-serializer-factory="org.knime.python2.typeextension.builtin.image.SvgSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/image/SvgDeserializer.py">
      </type>
      <type
            id="org.knime.python2.bytevector"
            java-serializer-factory="org.knime.python2.typeextension.builtin.bytevector.ByteVectorSerializerFactory"
            python-deserializer="py/org/knime/python2/typeextension/builtin/bytevector/ByteVectorDeserializer.py">
      </type>
   </extension>

</plugin>
