<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/"
            deprecated="false"
            factory-class="org.knime.python3.js.scripting.nodes.script.PythonScriptNodeFactory"
            hidden="false">
      </node>
   </extension>
</plugin>
