<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.python.sourcecodetemplates" name="Source code templates extension" schema="schema/sourcecodetemplates.exsd"/>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#1eb9dc"
            name="Python"
            objectClass="org.knime.python.port.PickledObjectPortObject"
            objectSerializer="org.knime.python.port.PickledObjectPortObject$Serializer"
            specClass="org.knime.python.port.PickledObjectPortObjectSpec"
            specSerializer="org.knime.python.port.PickledObjectPortObjectSpec$Serializer">
      </portType>
   </extension>

</plugin>
